@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$background-color: #ede9e8;

* {
  box-sizing: border-box;
  margin: 0;
  background-color: $background-color;
}

//index.html
.gameSheet {
  @include flexCenter;
  flex-direction: column;
  height: 100vh;
  .header {
    @include flexCenter;
    height: 17%;
    width: 50%;
    background: url("./icons.png");
    background-size: 100% 100%;
    cursor: pointer;
    &:hover {
      transform: scale(1.02);
    }
  }
  .card {
    width: 15%;
    height: 55%;
    margin: 10px;
    background: url(./karta.jpg);
    background-size: 100% 100%;
    cursor: pointer;
    &:hover {
      transform: scale(1.02);
    }
  }
}

//table.html

.body {
  @include flexCenter;
  flex-direction: column;
  height: 100vh;
  .players {
    width: 500px;
    height: 50px;
    background-color: #d4afa5;
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}
